[Unit]
Description = JDownloader Service
After = network.target

[Service]
Environment = /opt/jdownloader
Type = oneshot
ExecStart = /usr/bin/java -Djava.awt.headless=true -jar /opt/jdownloader/JDownloader.jar
RemainAfterExit = yes
User = media
Group = media

[Install]
WantedBy = multi-user.target